<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="commons :: head">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a onclick="add()" class="layui-btn">添加菜单</a>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>菜单列表</legend>
        </fieldset>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    <div style="display: inline-block; width: 100%; height: 100px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
                        <ul id="demo"></ul>
                    </div>
                </div>
                <div class="layui-col-xs9">
                    <div style="display: inline-block; width: 100%; height: 100px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
                        <ul id="demo1"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div th:replace="commons :: script"></div>

</body>
</html>
<script type="text/javascript">
    layui.use(['table', 'layer', 'jquery', 'util', 'tree'], function () {
        var table = layui.table
            , layer = layui.layer
            , tree = layui.tree
            , $ = layui.$;


        window.onload = function () {
            $.ajax({
                type: "get",
                url: basePath + '/sysMenu/tree',
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (data) {
                    tree({
                        elem: '#demo' //传入元素选择器
                        , nodes: data
                    });
                }
            });
        };


        //点击事件
        active = {
            //表格重载
            reload: function () {
                var name = $('#nameReload').val();
                tableReload({name: name})
            }
        };
        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    //添加页面
    function add() {
        location.href = basePath + "/sysMenu/tree"
        // open(basePath+"/sysUser/add", "添加用户", 700, 700);
    }

</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>