<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录界面</title>
    <link rel="stylesheet" th:href="@{/static/plugin/login/css/lrtk.css}">
</head>
<body>
<!-- 代码 开始 -->
<div id="login">
    <div class="wrapper">
        <div class="login">
            <form th:action="@{/doLogin}" method="post" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="control-group">
                        <div class="controls">
                            <label for="username" class="control-label fa fa-envelope"></label>
                            <input id="username" type="text" name="username" placeholder="登录名" tabindex="1"
                                   autofocus="autofocus" class="form-control input-medium" min="5">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="密码" tabindex="2"
                                   class="form-control input-medium">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="checkbox" name="rememberMe" value="true" th:checked="checked"/>
                            <p>Remember me</p>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" tabindex="4" class="btn btn-primary">登录</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/static/plugin/login/js/jquery.min.js}"></script>
    <script>
        $(function () {

            $('#login #password').focus(function () {
                $('#owl-login').addClass('password');
            }).blur(function () {
                $('#owl-login').removeClass('password');
            });

            //会话超时，登录页面跳转到父窗体的解决方法
            window.onload = function () {
                if (window.parent.window !== window) {
                    window.top.location = "/login";
                }
            }
        });
    </script>
</div>
<!-- 代码 结束 -->
</body>
</html>